*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/flutter/
jdk-*/
flutter_linux_3.16.9-stable.tar.xz
openjdk-*.tar.gz
lazygit.tar.gz
